.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    margin: 0 auto;
}

.logo img{
    width: 50px;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu-item {
    margin-right: 25px;
}