/* cabeçalho */
.cabecalho-principal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-principal .cabecalho-principal-nav {
    display: flex;
}

/* footer */
.rodape-principal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodape-principal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodape-principal-contato-form {
    width: 25%;
}

.rodape-principal-contato-form-fieldset {
    display: flex;
}