/* cabeçalho */
.cabecalho-principal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-principal .cabecalho-principal-nav {
    display: flex;
}

/* footer */
.rodape-principal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodape-principal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodape-principal-contato-form {
    width: 25%;
}

.rodape-principal-contato-form-fieldset {
    display: flex;
}

/* course map */
.rodape-principal-navmap-list {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: column wrap;
    height: 252px;
}

/* course grid */
.conteudo-principal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudo-principal-cursos-link {
    width: 23%;
}

.conteudo-principal-cursos-link:nth-child(4n) {
    margin-right: 0;
}

.conteudo-principal-cursos-link:nth-child(4n+1) {
    margin-left: 0;
}

/* responsividade */
@media (max-width: 768px ) {
    .cabecalho-principal-nav {
        flex-direction: column;
    }

    .cabecalho-principal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .conteudo-principal-cursos {
        flex-direction: column;
    }

    .conteudo-principal-cursos-link {
        width: 100%;
    }

    .rodape-principal-navmap-list {
        height: auto;
    }

    .rodape-principal-patrocinadores .container {
        flex-direction: column;
        align-items: center;
    }

    .rodape-principal-patrocinadores-list {
        width: 100%;
        margin: 0;
    }

    .rodape-principal-contato-form {
        width: 100%;
    }

    .rodape-principal-contato-form-fieldset {
        justify-content: center;
    }

    .cabecalho-principal-nav-link-app {
        order: -1;
    }
}

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
}